body {
	margin: 0;
	font-family: Verdana, Arial, Times New Roman;
	font-size: 15px;
}
a {
	text-decoration: none;
}
#topbar {
	margin-top: 0;
	padding-right: 10px;
	height: 30px;
	background-color: #999;
}
#logoutcontainer {
	margin-top: 5px;
	float: right;
}
#logout {
	color: white;
	font-weight: normal;
}
.bluebutton {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #00a0dc;
}
.bluebutton a {
	color: white;
	font-size: 80%;
	font-weight: bold;
}
