#menubar {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: thin;
	border-bottom-style: solid;
    border-bottom-color: #999;
}
#menubar ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#menubar li {
	padding-right: 10px;	/* indent between menu keys */
}
#menubar #menukeyLog {
	float: right;
	padding: 0px;
    margin: 0px;
}
#menubar li {
	display: inline;
}
#menubar a:link {
	color: #00a0dc;
}
#menubar a:visited {
	color: #00a0dc;
}
#menubar a:hover {
	color: #8af;
}
#controlpannel {
	padding-right: 10px;
    padding-left: 10px;
	font-size: 100%;
}
#count {
	color: #fa0;
	font-weight: bold;
}
table.withborder {
	border-width: thin;
    border-spacing: 0px;
    border-style: solid;
    border-color: #999;
	border-collapse: collapse; /* show only solid lines */ 
}
td {
	border-width: 0;
    padding: 5px;
}
td.b {
    border-width: thin;
    padding: 5px;
    border-style: solid;
    border-color: #999;
	font-size: 80%;
}
